@charset "utf-8";

/* webfont */
/* 웹폰트없으면 지우세요!!! */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16PX;
    line-height: 30PX;
    color: #5A3125;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

/* top */
#top {
    height: 50px;
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex
}

.card li {
    margin-right: 20px;
    font-size: 14px;
}

.util {
    display: flex;
    margin-left: 20px;
}

.util li a {
    display: block;
    background-color: #835836;
    margin-left: 20px;
    color: #FFF;
    padding: 2px 30px;
    border-radius: 20px;
    font-size: 14px;
    color: #EFE7E1;
}

/* header */
#header {
    background-color: #EFE7E1;
}

.inne_header {
    width: 1320px;
    margin: 0 auto;
    height: 80px;
    text-align: center;
    position: relative
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
}

.gnb {
    display: flex;
    justify-content: center;
}

.gnb li {
    margin: 35px;
}

#banner {
    background-color: #EFE7E1;
}

.inner_banner {
    width: 1320px;
    margin: 0 auto;
    height: 525px;
    position: relative;
}

/* banner swiper */
.inner_banner .swiper {
    width: 100%;
    height: 100%;
}

.inner_banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mall {
    background-color: #EFE7E1;
    padding: 60px 0 75px;
}

.menu {
    width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.menu li {
    text-align: center;
}

.menu li p {
    line-height: 24px;
    color: #CE9668;
    margin-top: 20px;
    /* font-weight: bold; */
}

/* story */
#story {
    padding: 80px 0;
    width: 1320px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    text-align: center;
}

.story_banner {
    margin-top: 100px;
}

.story_banner img {
    width: 100%;
    display: block;
}

.delivery_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin: 80px 0 60px;
}

.delivery {
    width: 540px;
    height: 540px;
    background-color: #dbbea8;
    border-radius: 20px;
    padding: 110px 30px 0;
    box-sizing: border-box;
    text-align: center;
}

.delivery strong {
    font-size: 38px;
}

.delivery p {
    font-size: 20px;
    line-height: 30px;
    margin: 50px 0;
}

.delivery_step {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.delivery_step span {
    display: block;
}

.delivery_slogan {
    font-size: 30px;
    font-weight: bold;
    margin: 80px 0 110px;
    text-align: center;
}

.delivery_keyword {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.delivery_keyword li {
    width: 204px;
    height: 204px;
    background-color: #EFE7E1;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

/* best */
#best {
    background-color: #EFE7E1;
    padding-top: 80px;
}

.inner_best {
    width: 1320px;
    margin: 0 auto;
}

.best_list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.best_list li {
    width: 326px;
    height: 537px;
    background-color: #fff;
    border-radius: 20px;
}

.best_list li:nth-child(1) {
    width: 264px;
    padding: 180px 20px 0;
    box-sizing: border-box;
}

.best_list h3 {
    font-size: 36px;
    line-height: 1.3em;
}

.best10 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}

.best_text {
    padding: 20px;
}

.best_text strong {
    font-size: 20px;
}

.tag {
    display: flex;
    gap: 4px;
    margin: 8px 0 20px;
}

.tag span {
    display: block;
    font-size: 11px;
    border: 1px solid #CE9668;
    color: #CE9668;
    padding: 0px 8px;
    border-radius: 20px;
}

.price {
    font-size: 14px;
}

.sale_price {
    font-weight: 500;
}

.sale_price span {
    display: inline-block;
    margin-left: 24px;
    color: #FF7171;
}

.best_banner {
    display: flex;
    justify-content: space-between;
}


/* md */
#md {
    background-color: #EFE7E1;
    padding: 80px 0 100px;
}

.inner_md {
    width: 1320px;
    margin: 0 auto;
}

/* tab */

.board {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 800px;
}

.board li {
    width: 115px;
}

.board>li>a {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #fff;
}

.board>li.on>a {
    background-color: #5A3125;
    color: #fff;
}

.board>li>.tab_list {
    height: 0px;
    overflow: hidden;
}

.board>li.on>.tab_list {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 730px;
}

.tab_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab_list ul li {
    width: 650px;
    margin-bottom: 16px;
}

.tab_list ul li img {
    display: block;
    width: 100%;
}


/* store */
#store {
    width: 1320px;
    margin: 0 auto;
    padding: 80px 0 0;
    text-align: center;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.location_slide {
    width: 780px;
    height: 640px;
}

.location_text {
    width: 540px;
}

.location_text h3 {
    font-size: 20px;
    margin-bottom: 22px;
}

.location_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px;
}

.info {
    line-height: 1.3em;
}

.location_title img {
    display: block;
}

.location_title strong {
    display: block;
    margin-left: 2px;
}
.map_btn{
    width: 300px;
    background-color: #5A3125;
    color: #fff;
    display: inline-block;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 50px;
}

/* location_slide swiper */
#location_slide .swiper {
    width: 100%;
    height: 100%;
}

#location_slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location_slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#location_slide .swiper-button-next, 
#location_slide .swiper-button-prev {
    color: #5A3125;
}
#location_slide .swiper-button-next, 
.swiper-button-prev{
    color: #5A3125!important;
}
.swiper-button-next, 
#location_slide .swiper-button-prev {
    color: #5A3125!important;
}

/* news */
.news_wrap{
    background-color: #EFE7E1;
    padding-top: 100px;
}
#news{    
    padding: 80px 0 100px;
}
.inner_news{
    width: 1320px;
    margin: 0 auto;
}
.news{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 60px 0;
}
.news li{
    width: 50%;
    background-color: rgba(255,255,255,0.5);
    padding: 40px 70px;
    box-sizing: border-box;
    border-radius: 17px;
    background-repeat: no-repeat;
    background-position: right 40px center;
}
.news li:nth-child(1){
    background-image: url(../images/news/pump.png);
}
.news li:nth-child(2){
    background-image: url(../images/news/kakao.svg);
}
.news li h3{
    font-size: 30px;;
}
.news li em{
    font-style: normal;
    display: inline-block;
    border: 1px solid #835836;
    border-radius: 20px;
    padding: 0 40px;
    color: #835836;
    background-color: #fff;
    margin: 20px 0;
}
.news li strong{
    display: block;
    font-size: 20px;
}
.news li:nth-child(2) strong{
    margin-top: 70px;
}
.notice_wrap{
    display: flex;
    gap: 60px;
}
.notice_wrap> div{
    width: 50%;    
}
.notice_wrap> div h2{
    text-align: left;
}
.notice_list{
    margin-top: 20px;
}
.notice_list li{
    border-bottom: 1px solid #CE9668;
    padding: 10px 36px 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.notice_list li span{
    display: block;
    color: #5a31257c;
    width: 70px;
    font-size: 14px;
}
.service_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 52px;
}
.service_list li{
    width: 260px;
    display: flex;
    margin-bottom: 34px;
}
.service_list li img{
    display: block;
    margin-right: 20px;
}
.service_list li span{
    display: block;
    color: #CE9668;
}

/* gallery */
#gallery{
    background-color: #EFE7E1;
    padding: 80px 0 100px;
}
.inner_gallery{
    width: 1320px;
    margin: 0 auto;
}
.gallery_list{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 593px;
    position: relative;
}
.gallery_list li{
    width: 350px;
    overflow: hidden;
}
.gallery_list li:nth-child(1){
    height: 368px;
}
.gallery_list li:nth-child(2){
    height: 185px;
}
.gallery_list li:nth-child(3){
    height: 382px;
}
.gallery_list li:nth-child(4){
    height: 200px;
}
.gallery_list li:nth-child(2),
.gallery_list li:nth-child(3),
.gallery_list li:nth-child(6),
.gallery_list li:nth-child(7)
{
     width: 273px;   
}
.gallery_list li:nth-child(5){
    position: absolute;
    left: 0;
    bottom: 0;
}
.gallery_list li:nth-child(6){
    position: absolute;
    left: 375px;
    bottom: 0;
}
.gallery_list li:nth-child(7){
    position: absolute;
    left: 672px;
    bottom: 0;
}
.gallery_list li:nth-child(8){
    position: absolute;
    right: 0;
    bottom: 0;
}
.gallery_list li img{
    width: 100%;
    display: block;
    transition: transform 0.3s;
}
.gallery_list li img:hover{
    transform: scale(1.1);
}

/* footer */
#footer{
    background-color: #EFE7E1;
    padding: 30px 0 100px;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.conpany{
    display: flex;
}
.footer_logo{
    margin-right: 36px;
}
.address{
    font-size: 14px;
}
.address span{
    display: block;
    font-size: 16px;
}
.counsel{
    text-align: right;
}
.counsel_list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.counsel_list li{
    color: #fff;
    padding: 4px 30px;
    margin-left: 10px;
    cursor: pointer;
}
.counsel_list li:nth-child(1),
.counsel_list li:nth-child(2){
    background-color: #835836;
}
.counsel_list li:nth-child(3){
    background-color: #A2A2A2;
}
.counsel_time{
    font-size: 14px;
}
/* top_btn */
#top_btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}
#top_btn a{
    display: block;
     width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A3125;
    color: #EFE7E1;
    border-radius: 50%;
}